
/* VerifyCode */

.otpgroup {
  display: flex;
  width: 100%;
  max-width: 360px;
  column-gap: 10px;
  margin-left: 9rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.otpinput {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.verifyCode {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
  width: 300px;
  border-radius: 5px;
  height: 10rem;
  box-shadow: #000;

}

/* Form&Email */

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.Verify__container h3 {
  text-align: center;
  color: #000
}
.Verify__container p {
	text-align: center;
	color: #000;
	
  }
  .Verify__container p span {
	text-align: center;
	color: #F9AF23;
	
  }
  
  

.Verify__container {
  text-align: auto;
  color: white;
  width: 60%;
  
}

.Verify__container button {
  width: 100%;
  height: 3rem;
  right: 125px;
  top: 25px;
  background-color: #f9af23;
  border-radius: 28px;
}
.Verify__container .verifyCode {
	width: 100%;
	height: 3rem;
	right: 125px;
	top: 25px;
	background-color: #f9af23;
	border-radius: 28px;
  }

.Verify__container h1 {
  text-align: center;
  color: black;
  margin-bottom: 1.5rem;
}

.Verify__container__form {
  margin-left: 50%;
  margin-top: 30px;
  background: white;
  padding: 2rem 5rem;
  border-radius: 2rem;
  /* border-style: ridge ; */
  border-color: white;
  height: 100%;
  width: 70%;
  /* box-shadow: 5px 10px #C0C0C0; */
  box-shadow:
  0.5px 1.8px 2.5px rgba(0, 0, 0, 0.063),
  1.7px 5.8px 5px rgba(0, 0, 0, 0.07),
  3.9px 13.2px 7.9px rgba(0, 0, 0, 0.07),
  7.9px 26.7px 11.8px rgba(0, 0, 0, 0.066),
  15.7px 53.2px 18.8px rgba(0, 0, 0, 0.062),
  37px 125px 40px rgba(0, 0, 0, 0.07);
}
/* Password */
.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
 }
 
 .input:focus  {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
 }
 .input:hover{
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
 }
 .input::placeholder {
  color: #777;
 }

 .input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 .required p{
  color: #878585;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
 }

 /* Success */
 .check p{
  color: #878585;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;

 }

 .Verify__container button{
    right: 125px;
    top: 25px;
    background-color: #008d9b;
    border-radius: 28px; 
    color: white;
    font-size: 20px;
 }

 .BiCheckCircle{
    display: inline;
    color: green;
    width: 145px;
    height: 145px;
    font-weight: 200;
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

