
/* Form&Email */

.edit__container__form form  {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
   
    
    width: auto;
    height: auto;
    padding: 2rem;
    margin-bottom: 2rem;
    
  }
  
  
  .edit__container .UploadImg {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 3rem;
    margin-left: 3rem;
    
    margin-right: 35%;
  }
  .edit__container .UploadImg img{
    /* margin-left: 4.5rem; */

    display: none;
    border: none;
  }
  
  .edit__container h3 {
    text-align: center;
    color: #000
  }
  .edit__container p {
      text-align: center;
      color: #000;
      
    }
    .edit__container p span {
      text-align: center;
      color: #F9AF23;
      
    }
  .edit__container__Upload {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align:center;
    float: left;
    width: 40%;
  }
  /* .UploadImg{
    display: none;
    text-align:center;
  }
   */
  .edit__container {
    text-align: auto;
    color: #000;
    

  }
  
  .edit__container button {
    width: 100%;
    height: 3rem;
    right: 125px;
    top: 25px;
    background-color: #008d9b;
    border-radius: 28px;
    color: #ffffff;
  }
 
  
  .edit__container h1 {
    text-align: center;
    color: black;
    margin-bottom: 1.5rem;
  }
  
  .edit__container{
    margin-left: 15rem;
    margin-top: 5rem;
    background: #E4E4E4 ;
    padding: 2rem 5rem;
    border-radius: 2rem;
    /* border-style: groove  ; */
    display: n;
    border-color: #333333;
    height: 55rem;
    width: 90rem;
    margin-bottom: 4rem;
    /* box-shadow: 5px 10px #C0C0C0; */
    box-shadow:
    0.5px 1.8px 2.5px rgba(0, 0, 0, 0.063),
    1.7px 5.8px 5px rgba(0, 0, 0, 0.07),
    3.9px 13.2px 7.9px rgba(0, 0, 0, 0.07),
    7.9px 26.7px 11.8px rgba(0, 0, 0, 0.066),
    15.7px 53.2px 18.8px rgba(0, 0, 0, 0.062),
    37px 125px 40px rgba(0, 0, 0, 0.07);
  }
  /* Password */
  .input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    
   }
   
   .input:focus  {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   .input:hover{
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   .input::placeholder {
    color: #000;
   }
  
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
  
   .buttonForm{
    width: 10rem;
    height: 3rem;
    right: 125px;
    top: 25px;
    background-color: #008d9b;
    border-radius: 28px;
    color: #ffffff;
    text-align:center;
   }
   .buttonUpload{
    width: 10rem;
    height: 3rem;
    right: 125px;
    top: 25px;
    background-color: #008d9b;
    border-radius: 28px;
    color: #ffffff;
    text-align:center;
    margin-top: 2.5rem;
   }
  
   .ck {
    min-height: 500px;
}
 
  /* =========== [ file drop area ] =============== */
  .fileDropArea {
    position: relative;
    margin-top: 2rem;
    margin-left: 3.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 350px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.imagesPreview {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesPreview img{
    position: relative;
    width: auto;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.inputField {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    opacity: 0;
    cursor: pointer;
}

.fakeBtn{
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.msg{
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

/* ========================================= */
  