/* *,
*:before,
*:after {
  box-sizing: border-box;
}

:after {
  content: "";
}

section {
  position: relative;
  left: 100px;
}

h1 {
  margin: 80px 0 10px 0;
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #dc143c, 2px 2px 0px #dc143c, 3px 3px 0px #dc143c,
    4px 4px 0px #dc143c;
}

h2 {
  font-size: 24px;
}

body {
  padding: 100px 0;
  background: lightblue;
  color: white;
  max-width: 640px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-smoothing: anti-aliased;
} */

.Nav {
  float: left;
  position: relative;
  top: 0;
  left: -40px;
  background: transparent;
  padding: 100px 0;
  
}

.Nav ul {
  text-align: center;
}

.Nav ul li {
  position: relative;
  width: 70px;
  cursor: pointer;
  background: #1B2C55;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}

.Nav ul li:after {
  position: absolute;
  background: white;
  color: #1B2C55;
  top: 0;
  left: 70px;
  width: 70px;
  height: 100%;
  opacity: 0.5;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
}

.Nav ul li:nth-child(1):after  {
  content: "Home";
  line-height: 88px;
}
.Nav ul li:nth-child(2):after {
  content: "Cart";
  line-height: 88px;
}
.Nav ul li:nth-child(3):after {
  content: "Work";
  line-height: 85px;
}
.Nav ul li:nth-child(4):after {
  content: "Say hi";
  line-height: 70px;
}

.Nav ul li:hover {
  transform: translateX(-70px);
}

.Nav ul li:hover:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

.Nav ul li > div {
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

.Nav ul li div {
  position: relative;
}



